@font-face {
  font-family: PFDinTextPro-Light;
  src: url(../fonts/PFDinTextPro_Light.ttf);
}

@font-face {
  font-family: PFDinTextPro;
  src: url(../fonts/pfdintextpro-regular.ttf);
}

@-webkit-keyframes change-bgrd {
  70% {
    background: url(../img/backgrd_main.jpg) no-repeat 50%/cover;
    opacity: 1;
  }
  90% {
    background: url(../img/backgrd_main.jpg) no-repeat 50%/cover;
    opacity: 0;
  }
  91% {
    background: url(../img/backgrd_alt.jpg) no-repeat right/cover;
    opacity: 0;
  }
  100% {
    background: url(../img/backgrd_alt.jpg) no-repeat right/cover;
    opacity: 1;
  }
}

@keyframes change-bgrd {
  70% {
    background: url(../img/backgrd_main.jpg) no-repeat 50%/cover;
    opacity: 1;
  }
  90% {
    background: url(../img/backgrd_main.jpg) no-repeat 50%/cover;
    opacity: 0;
  }
  91% {
    background: url(../img/backgrd_alt.jpg) no-repeat right/cover;
    opacity: 0;
  }
  100% {
    background: url(../img/backgrd_alt.jpg) no-repeat right/cover;
    opacity: 1;
  }
}

@-webkit-keyframes mobile-bgrd {
  0% {
    background: url(../img/backgrd_main.jpg) no-repeat 50%/cover;
    opacity: 1;
  }
  49% {
    background: url(../img/backgrd_main.jpg) no-repeat 50%/cover;
    opacity: 0;
  }
  50% {
    background: #f3f2da;
    opacity: 0;
  }
  100% {
    background: #f3f2da;
    opacity: 1;
  }
}

@keyframes mobile-bgrd {
  0% {
    background: url(../img/backgrd_main.jpg) no-repeat 50%/cover;
    opacity: 1;
  }
  49% {
    background: url(../img/backgrd_main.jpg) no-repeat 50%/cover;
    opacity: 0;
  }
  50% {
    background: #f3f2da;
    opacity: 0;
  }
  100% {
    background: #f3f2da;
    opacity: 1;
  }
}

@-webkit-keyframes selection-border {
  0% {
    border-bottom: 1px solid transparent;
  }
  99% {
    border-bottom: 1px solid transparent;
  }
  100% {
    border-bottom: 1px solid rgba(181, 181, 181, 0.7);
  }
}

@keyframes selection-border {
  0% {
    border-bottom: 1px solid transparent;
  }
  99% {
    border-bottom: 1px solid transparent;
  }
  100% {
    border-bottom: 1px solid rgba(181, 181, 181, 0.7);
  }
}

@-webkit-keyframes item-animate {
  90% {
    padding: 0 10px;
    height: 365px;
    border-radius: 50%;
    background: transparent;
  }
  91% {
    height: 300px;
    border-radius: 50%;
    background: transparent;
  }
  100% {
    padding: 0 10px;
    height: 300px;
    border-radius: 0;
    background: transparent;
  }
}

@keyframes item-animate {
  90% {
    padding: 0 10px;
    height: 365px;
    border-radius: 50%;
    background: transparent;
  }
  91% {
    height: 300px;
    border-radius: 50%;
    background: transparent;
  }
  100% {
    padding: 0 10px;
    height: 300px;
    border-radius: 0;
    background: transparent;
  }
}

@-webkit-keyframes inner-padding {
  90% {
    padding-bottom: 105px;
  }
  91% {
    padding-bottom: 40px;
  }
  100% {
    padding-bottom: 40px;
  }
}

@keyframes inner-padding {
  90% {
    padding-bottom: 105px;
  }
  91% {
    padding-bottom: 40px;
  }
  100% {
    padding-bottom: 40px;
  }
}

@-webkit-keyframes inner-animate {
  0% {
    color: #171717;
    border: transparent;
  }
  91% {
    color: #171717;
    border: transparent;
    border-radius: 50%;
  }
  100% {
    border-radius: 0;
  }
}

@keyframes inner-animate {
  0% {
    color: #171717;
    border: transparent;
  }
  91% {
    color: #171717;
    border: transparent;
    border-radius: 50%;
  }
  100% {
    border-radius: 0;
  }
}

@-webkit-keyframes info-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes info-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1900px;
  font-family: 'PFDinTextPro-Light', sans-serif;
}

.container {
  position: relative;
  padding: 45px 0 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 620px;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/backgrd_main.jpg) no-repeat 50%/cover;
}

@media (max-width: 1199px) {
  .container.animated::before {
    -webkit-animation: mobile-bgrd 1s linear forwards;
    animation: mobile-bgrd 1s linear forwards;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
    height: 965px;
  }
  .container.animated::before {
    -webkit-animation: change-bgrd 1s linear forwards;
    animation: change-bgrd 1s linear forwards;
  }
  .container.animated .title {
    -webkit-transition: all 1s;
    transition: all 1s;
    margin-top: -335px;
  }
  .container.animated .selection_wrapper {
    -webkit-animation: selection-border 1s linear forwards;
    animation: selection-border 1s linear forwards;
  }
}

.title {
  position: relative;
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 36px;
  text-align: center;
  line-height: 1;
  color: #171717;
}

@media (min-width: 1200px) {
  .title {
    margin-top: 270px;
    margin-bottom: 80px;
    font-size: 48px;
  }
}

.selection_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1200px) {
  .selection_wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.selection {
  position: relative;
}

@media (min-width: 1200px) {
  .selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
  }
}

.item {
  cursor: pointer;
}

@media (max-width: 1199px) {
  .item {
    padding: 0 5%;
    margin-bottom: 15px;
  }
  .item.item-active {
    background: url(../img/backgrd_mobile.png) no-repeat 80% 100%/175%, -webkit-gradient(linear, left top, left bottom, from(#f3f2da), to(transparent));
    background: url(../img/backgrd_mobile.png) no-repeat 80% 100%/175%, linear-gradient(#f3f2da, transparent);
    background-blend-mode: hard-light;
  }
  .item.item-active .item-arrow-left {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  .item.item-active .item-arrow-right {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  .item.item-active .item-info {
    padding: 25px 10px 0;
    height: 1150px;
  }
}

@media (min-width: 1200px) {
  .item {
    padding: 10px;
    width: 365px;
    height: 365px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
  }
  .item:not(:last-of-type) {
    margin-right: 50px;
  }
  .item.preview:hover .item-content {
    border: solid 1px #00b0a2;
  }
  .item.preview:active .item-content {
    border: solid 1px transparent;
  }
  .item.animated {
    -webkit-animation: item-animate 1s linear forwards;
    animation: item-animate 1s linear forwards;
    cursor: auto;
  }
  .item.animated .item-icon {
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
  }
  .item.animated .item-content {
    margin-bottom: 80px;
    -webkit-animation: inner-animate 1s linear forwards;
    animation: inner-animate 1s linear forwards;
    cursor: pointer;
  }
  .item.animated .item-content:hover {
    color: #00b0a2;
  }
  .item.animated .item-content:active {
    color: #171717;
  }
  .item.animated .item-title {
    -webkit-animation: inner-padding 1s linear forwards;
    animation: inner-padding 1s linear forwards;
  }
  .item.animated .item-info {
    padding-left: 10px;
  }
  .item.item-active {
    overflow: visible;
  }
  .item.item-active .item-content {
    color: #00b0a2;
    border-bottom: solid 3px #00b0a2;
  }
  .item.item-active .item-info {
    -webkit-animation: info-appear 1s linear forwards;
    animation: info-appear 1s linear forwards;
    display: block;
    width: 200%;
  }
}

.item-content {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #171717;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

@media (max-width: 1199px) {
  .item-content {
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.6);
  }
  .item-content:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  .item-content:active {
    background: rgba(255, 255, 255, 0.4);
  }
}

@media (min-width: 1200px) {
  .item-content {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border: solid 1px transparent;
    border-radius: 50%;
  }
}

.item-img {
  width: 35px;
}

@media (min-width: 1200px) {
  .item-img {
    width: auto;
  }
}

.item-icon {
  display: block;
  margin: 0 auto;
  max-height: 35px;
  max-width: 35px;
}

@media (min-width: 1200px) {
  .item-icon {
    margin: 0;
    max-height: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1199px) {
  .item-title {
    font-size: 18px;
    padding: 0 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'PFDinTextPro', sans-serif;
  }
}

@media (min-width: 1200px) {
  .item-title {
    padding-top: 45px;
    padding-bottom: 105px;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    line-height: 1;
  }
  .item-title span {
    display: none;
  }
}

.item-arrow {
  position: relative;
  width: 20px;
  height: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.item-arrow .item-arrow-left, .item-arrow .item-arrow-right {
  position: absolute;
  top: 4px;
  background: #171717;
  height: 2px;
  width: 12px;
}

.item-arrow .item-arrow-left {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.item-arrow .item-arrow-right {
  left: 8px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

@media (min-width: 1200px) {
  .item-arrow {
    display: none;
  }
}

.item-info {
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
}

@media (max-width: 1199px) {
  .item-info {
    height: 0;
    overflow: hidden;
    padding: 0 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .item-info {
    display: none;
    position: absolute;
    left: 0;
    max-width: 60%;
    opacity: 0;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
}

.item-info .info_description {
  margin-bottom: 50px;
  color: #171717;
}

.item-info .info_title {
  margin-bottom: 30px;
  font-size: 24px;
  color: #171717;
}

.item-info .info_list {
  margin-bottom: 40px;
  counter-reset: counter;
}

.item-info .info_list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  counter-increment: counter;
  margin-bottom: 25px;
  color: #171717;
}

.item-info .info_list-item::before {
  content: counter(counter);
  margin-right: 15px;
  font-size: 32px;
  color: #00b0a2;
}

.item-info .info_button {
  display: inline-block;
  padding: 15px 30px;
  font-family: 'PFDinTextPro', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: 1px solid #009e82;
  border-radius: 3px;
  background-color: #009e82;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.item-info .info_button:hover {
  color: #009e82;
  background-color: #fff;
}

.item-info .info_button:active {
  color: #fff;
  background-color: #009e82;
}
/*# sourceMappingURL=style.css.map */