@import "../../style/Extentions.scss";
@import "../../style/variables.scss";


.dialogs {
  padding: $indent;
  flex-grow: 1;
  display: grid;
  grid-gap: $indent;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "users chat";
}

.users {
  grid-area: users;
  padding: $indent;
  border-radius: $indentSmall;
  border: 1px solid $colorGrey;
  background-color: $colorLight;

  .user {
    display: -webkit-box;
    display: flex;
    padding: $indentSmall;
    border-radius: $indentSmall;
    border: 1px solid $colorGrey;
    cursor: pointer;

    &:not(:first-of-type) {
      margin-top: $indent;
    }

    img {
      width: 50px;
      height: 50px;
    }

    p {
      margin-left: 20px;
    }
  }
}

.chat {
  grid-area: chat;
  padding: $indent;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: $colorLight;
  border: 1px solid $colorGrey;
  border-radius: $indentSmall;
}

.message {
  position: relative;
  margin: 0 auto;
  padding: $indent;
  border-radius: $indentSmall;
  background: $colorLGrey;

  &:not(:first-of-type) {
    margin-top: $indent;
  }

  &::before {
    position: absolute;
    content: "";
    top: 30%;
    left: -5px;
    width: 10px;
    height: 10px;
    background: $colorLGrey;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.sendMessage {
  @extend %sendForm;
}

.sendBtn {
  @extend %button;
}
