.private-section {
  padding-right: 65px;
  border-right: 5px dotted $color-grey;
  
  @media (max-width: 2559px) {
    padding-right: 0;
    border-right: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'philosophy passions'
      'about passions';
    grid-gap: 50px;
  }

  @media (max-width: 1439px) {
    grid-row-gap: 0;
  }

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'philosophy' 'about' 'passions';
  }
}

.private-section_article-text {
  font-size: 41.5px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $color-black;
}

@import './philosophy/philosophy.scss';
@import './about/about.scss';
@import './passions/passions.scss';