@import '../../style/variables.scss';

.Page {
  padding-top: 30px;
  padding-bottom: 30px;
}

.Page_buttons {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  @media (max-width: 1023px) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Page_text {
  color: $color-main;
  text-transform: capitalize;
}

.Page_title {
  margin-bottom: 30px;
  font-size: $size-title;
  color: $color-dark;
}

.Page_photolist {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 750px;

  @media (max-width: 1023px) {
    max-width: 600px;
  }

  @media (max-width: 767px) {
    max-width: 450px;
  }

  @media (max-width: 424px) {
    max-width: 300px;
  }
}