@import '../../style/variables.scss';

.searchBlock {
  // text-align: center;
  margin-bottom: 20px;

  .searchForm {
    position: relative;
    margin: 0 auto;
    padding: 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 3px;
    border: 1px solid $main-color;
    background-color: rgba(255, 255, 255, 0.6);
    
    .inputSearch {
      padding: 5px 10px;
      font-size: $font-size;
      text-transform: capitalize;
      color: $main-color;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: text;
    }
  
    .btnSearch {
      padding: 5px 10px;
      font-size: $font-size;
      border-radius: 3px;
      border: 1px solid $main-color;
      color: #fff;
      background-color: $main-color;
      outline: none;
      cursor: pointer;

      &:hover {
        color:  $main-color;
        background-color: transparent;
      }

      &:active {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
      }
    }

    .searchList {
      position: absolute;
      margin-top: 4px;
      max-height: 100px;
      width: calc(100% - 2px);
      overflow: auto;

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #fff;
      }
      &::-webkit-scrollbar-track {
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #ccc;
      }
      
      .foundCity {
        list-style: none;
        padding: 5px 10px;
        border-radius: 3px;
        color: $main-color;
        background-color: #fff;
        font-size: $font-size;
        text-align: left;
        cursor: pointer;

        &.focused {
          background-color: $main-color;
          color: #fff;
        }
        &:hover {
          background-color: $main-color;
          color: #fff;
        }
        &:active {
          background-color: #005289;
          color: #fff;
        }
      }
    }
  }
}