.followBtn, .messageBtn {
  margin-left: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #edf1f5;
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.followBtn:hover, .messageBtn:hover {
  background: #ccc;
}

.followBtn:active, .messageBtn:active {
  border: 1px solid transparent;
}

.followBtn:disabled, .messageBtn:disabled {
  cursor: auto;
}

.followBtn:disabled:hover, .messageBtn:disabled:hover {
  background: #edf1f5;
}

.contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactList {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pageNumber {
  margin: 0 5px;
  cursor: pointer;
}

.currentPage {
  font-weight: bold;
}

.userCard {
  margin-bottom: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 23%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.userInfo {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  word-wrap: break-word;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.userInfo img {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.userInfo:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.userInfo:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.userName {
  margin-bottom: 5px;
  text-transform: capitalize;
}

.userStatus {
  margin-bottom: 10px;
}

.userActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.followBtn {
  margin-left: 0;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  background: #080;
}

.followBtn:disabled {
  background: #ccc;
  cursor: progress;
}

.messageBtn {
  padding: 5px;
  margin-left: 0;
  color: #fff;
  background: #f00;
}

.messageBtn img {
  display: block;
  width: 15px;
}
/*# sourceMappingURL=Contacts.module.css.map */