@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap");
@font-face {
  font-family: BigJohn;
  src: local("BIG-JOHN"), url("../fonts/BIG-JOHN.otf");
}

.header, .about .bouncy, .about .details {
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 1439px) {
  .header, .about .bouncy, .about .details {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 767px) {
  .header, .about .bouncy, .about .details {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 424px) {
  .header, .about .bouncy, .about .details {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about .bouncy, .about .details {
  padding-top: 80px;
  padding-bottom: 100px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1366px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  letter-spacing: 4px;
}

p {
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.7px;
  color: #81868e;
}

a {
  text-decoration: none;
}

.nullHeight {
  height: 0;
}

.header {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;
  background: url("../img/header_img.png") no-repeat;
  background-size: cover;
  color: #fff;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .navbar_logo {
  font-family: BigJohn, sans-serif;
  font-size: 25px;
  letter-spacing: normal;
  cursor: pointer;
}

.header .navbar .navbar_show-btn {
  display: none;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.header .navbar .navbar_show-btn i {
  line-height: 36px;
}

.header .navbar .navbar_show-btn:hover {
  border: 2px solid #fff;
}

@media (max-width: 1023px) {
  .header .navbar .navbar_show-btn {
    display: block;
  }
}

.header .navbar .navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header .navbar .navbar_menu a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 16px;
  color: #fff;
  border: 1px solid transparent;
}

.header .navbar .navbar_menu a:hover {
  border: 1px solid #fff;
}

@media (max-width: 1023px) {
  .header .navbar .navbar_menu {
    padding-top: 20px;
    width: 100%;
    text-align: right;
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.6s;
    transition: max-height 0.6s;
  }
}

.header .header_content {
  padding: 220px 0;
}

.header .header_title {
  margin-bottom: 40px;
  font-size: 35px;
  letter-spacing: 7px;
  text-align: center;
}

.header .header_text {
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: center;
}

.header .header_btn {
  position: relative;
  margin: 0 auto 20px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  text-align: center;
  background-color: #19bd9a;
  cursor: pointer;
}

.header .header_btn:hover .header_btn-info {
  opacity: 1;
}

.header .header_btn-icon {
  line-height: 36px;
}

.header .header_btn-info {
  position: absolute;
  bottom: 46px;
  left: 50%;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px 10px 10px 0;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.header .header_btn-info::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  height: 10px;
  width: 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
}

.about .bouncy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333b46;
}

@media (max-width: 767px) {
  .about .bouncy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .bouncy .bouncy_img {
  margin-bottom: -40px;
}

@media (max-width: 1023px) {
  .about .bouncy .bouncy_img {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .about .bouncy .bouncy_img {
    margin-bottom: 40px;
  }
}

.about .bouncy .bouncy_article {
  max-width: 35%;
}

@media (max-width: 1023px) {
  .about .bouncy .bouncy_article {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .about .bouncy .bouncy_article {
    max-width: 100%;
  }
}

.about .bouncy .bouncy_article-title {
  margin-bottom: 50px;
}

.about .bouncy .bouncy_article-text {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.7px;
  color: #81868e;
}

.about .bouncy .bouncy_article-btn {
  display: inline-block;
  padding: 12px 30px;
  text-align: center;
  text-transform: capitalize;
  color: #333b46;
  border: solid 1px #333b46;
  border-radius: 18.5px;
}

.about .bouncy .bouncy_article-btn:hover {
  background: #333b46;
  color: #fff;
}

.about .bouncy .bouncy_article-btn:active {
  border: solid 1px #fff;
}

@media (max-width: 767px) {
  .about .bouncy .bouncy_article-btn {
    display: block;
  }
}

.about .details {
  background: #f3f3f3;
}

.about .details .details_title {
  margin-bottom: 40px;
  text-align: center;
}

.about .details .details-text {
  margin-bottom: 60px;
  text-align: center;
}

.about .details .details_btns {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .details .details_icon {
  height: 53px;
  width: 53px;
  border-radius: 50%;
  background: #81868e;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.about .details .details_icon:hover {
  background: #333b46;
}

.about .details .details_icon.details_icon-active {
  background: #19bd9a;
}

.about .details .details_icon:not(:last-of-type) {
  margin-right: 30px;
}

.about .details .details_icon i {
  line-height: 53px;
  font-size: 30px;
}

.about .details .details_content {
  display: none;
  padding-left: 80px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 1023px) {
  .about .details .details_content {
    padding-left: 0;
  }
}

.about .details .details_active-content {
  display: block;
}

.about .details .details_content-title {
  margin-bottom: 40px;
  font-size: 20px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #333b46;
}

.about .details .details_content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1023px) {
  .about .details .details_content-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1023px) {
  .about .details .details_content-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .details .details_content-text p {
  margin-right: 130px;
  text-align: left;
}

@media (max-width: 1023px) {
  .about .details .details_content-text p {
    margin-right: 50px;
  }
  .about .details .details_content-text p:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 1023px) {
  .about .details .details_content-text p {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.about .details .details_content-text span {
  font-weight: bold;
  color: #19bd9a;
}
/*# sourceMappingURL=style.css.map */