@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap");
@font-face {
  font-family: BigJohn;
  src: local("BIG-JOHN"), url("../fonts/BIG-JOHN.otf");
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.header, .about .bouncy, .about .details, .about .featured, .about .submit, .impressed, .portfolio, .testimonial, .testimonial .testimonial_content, .news, .price, .subscribe, .contact .address {
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 1365px) {
  .header, .about .bouncy, .about .details, .about .featured, .about .submit, .impressed, .portfolio, .testimonial, .testimonial .testimonial_content, .news, .price, .subscribe, .contact .address {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 767px) {
  .header, .about .bouncy, .about .details, .about .featured, .about .submit, .impressed, .portfolio, .testimonial, .testimonial .testimonial_content, .news, .price, .subscribe, .contact .address {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 424px) {
  .header, .about .bouncy, .about .details, .about .featured, .about .submit, .impressed, .portfolio, .testimonial, .testimonial .testimonial_content, .news, .price, .subscribe, .contact .address {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about .bouncy, .about .details, .services, .impressed, .portfolio, .team, .testimonial, .news, .price, .subscribe, .contact .address {
  padding-top: 80px;
  padding-bottom: 100px;
}

.about .submit .submit_btn, .portfolio .startProject_btn, .goToContact .goToContact_btn {
  padding: 10px 25px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 18.5px;
  border: solid 1px #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about .submit .submit_btn:hover, .portfolio .startProject_btn:hover, .goToContact .goToContact_btn:hover {
  background-color: #fff;
  color: #19bd9a;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.about .submit .submit_btn:active, .portfolio .startProject_btn:active, .goToContact .goToContact_btn:active {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.team .team_icon, .testimonial .testimonial_icon, .news .news_icon {
  height: 10px;
  width: 10px;
  border: 1px solid #19bd9a;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.team .team_icon:not(:last-of-type), .testimonial .testimonial_icon:not(:last-of-type), .news .news_icon:not(:last-of-type) {
  margin-right: 10px;
}

.team .team_icon:hover, .testimonial .testimonial_icon:hover, .news .news_icon:hover {
  border: 1px solid #81868e;
}

.team .team_icon:active, .testimonial .testimonial_icon:active, .news .news_icon:active {
  border: 1px solid #333b46;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 1366px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  letter-spacing: 4px;
}

p {
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.7px;
  color: #81868e;
}

a {
  text-decoration: none;
}

.nullHeight {
  height: 0;
}

.header {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;
  background: url("../img/header_img.png") no-repeat;
  background-size: cover;
  color: #fff;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .navbar .navbar_logo {
  font-family: BigJohn, sans-serif;
  font-size: 25px;
  letter-spacing: normal;
  cursor: pointer;
}

.header .navbar .navbar_show-btn {
  display: none;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.header .navbar .navbar_show-btn i {
  line-height: 36px;
}

.header .navbar .navbar_show-btn:hover {
  border: 2px solid #fff;
}

@media (max-width: 1023px) {
  .header .navbar .navbar_show-btn {
    display: block;
  }
}

.header .navbar .navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header .navbar .navbar_menu a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 16px;
  color: #fff;
  border: 1px solid transparent;
}

.header .navbar .navbar_menu a:hover {
  border: 1px solid #fff;
}

@media (max-width: 1023px) {
  .header .navbar .navbar_menu {
    padding-top: 20px;
    width: 100%;
    text-align: right;
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.6s;
    transition: max-height 0.6s;
  }
}

.header .header_content {
  padding: 220px 0;
}

.header .header_title {
  margin-bottom: 40px;
  font-size: 35px;
  letter-spacing: 7px;
  text-align: center;
}

.header .header_text {
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: center;
}

.header .header_btn {
  position: relative;
  margin: 0 auto 20px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  text-align: center;
  background-color: #19bd9a;
  cursor: pointer;
}

.header .header_btn:hover .header_btn-info {
  opacity: 1;
}

.header .header_btn-icon {
  line-height: 36px;
}

.header .header_btn-info {
  position: absolute;
  bottom: 46px;
  left: 50%;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px 10px 10px 0;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.header .header_btn-info::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  height: 10px;
  width: 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.about .bouncy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333b46;
}

@media (max-width: 767px) {
  .about .bouncy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.about .bouncy .bouncy_img {
  margin-bottom: -40px;
}

@media (max-width: 1023px) {
  .about .bouncy .bouncy_img {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .about .bouncy .bouncy_img {
    margin-bottom: 40px;
  }
}

.about .bouncy .bouncy_article {
  max-width: 35%;
}

@media (max-width: 1023px) {
  .about .bouncy .bouncy_article {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .about .bouncy .bouncy_article {
    max-width: 100%;
  }
}

.about .bouncy .bouncy_article-title {
  margin-bottom: 50px;
}

.about .bouncy .bouncy_article-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.7px;
  color: #81868e;
}

.about .bouncy .bouncy_article-btn {
  display: inline-block;
  padding: 12px 30px;
  text-align: center;
  text-transform: capitalize;
  color: #333b46;
  border: solid 1px #333b46;
  border-radius: 18.5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about .bouncy .bouncy_article-btn:hover {
  background: #333b46;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.about .bouncy .bouncy_article-btn:active {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .about .bouncy .bouncy_article-btn {
    display: block;
  }
}

.about .details {
  background: #f3f3f3;
}

.about .details .details_title {
  margin-bottom: 40px;
  text-align: center;
}

.about .details .details_text {
  margin-bottom: 60px;
  text-align: center;
}

.about .details .details_btns {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about .details .details_icon {
  height: 53px;
  width: 53px;
  border-radius: 50%;
  background: #81868e;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.about .details .details_icon:hover {
  background: #333b46;
}

.about .details .details_icon.details_icon-active {
  background: #19bd9a;
}

.about .details .details_icon:not(:last-of-type) {
  margin-right: 30px;
}

.about .details .details_icon i {
  line-height: 53px;
  font-size: 30px;
}

.about .details .details_content {
  display: none;
  padding-left: 80px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 1023px) {
  .about .details .details_content {
    padding-left: 0;
  }
}

.about .details .details_active-content {
  display: block;
}

.about .details .details_content-title {
  margin-bottom: 40px;
  font-size: 20px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #333b46;
}

.about .details .details_content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1023px) {
  .about .details .details_content-text {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 1023px) {
  .about .details .details_content-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.about .details .details_content-text p {
  margin-right: 130px;
  text-align: left;
}

@media (max-width: 1023px) {
  .about .details .details_content-text p {
    margin-right: 50px;
  }
  .about .details .details_content-text p:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 1023px) {
  .about .details .details_content-text p {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.about .details .details_content-text span {
  font-weight: bold;
  color: #19bd9a;
}

.about .featured {
  padding-top: 80px;
}

.about .featured .featured_title {
  margin-bottom: 40px;
  text-align: center;
}

.about .featured .featured_text {
  margin-bottom: 60px;
  text-align: center;
}

.about .featured_projects {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "whisky whisky vintage brand";
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 767px) {
  .about .featured_projects {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "whisky whisky" "vintage brand";
  }
}

@media (max-width: 424px) {
  .about .featured_projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "whisky" "vintage" "brand";
  }
}

.about .featured_projects .featured_projects-whisky {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: whisky;
  display: -ms-grid;
  display: grid;
  position: relative;
}

.about .featured_projects .plus::before,
.about .featured_projects .plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 18px);
  width: 36px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about .featured_projects .plus::before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.about .featured_projects .projects-whisky-img {
  width: 100%;
}

.about .featured_projects .projects-whisky-img:hover ~ .plus::before {
  background: #19bd9a;
}

.about .featured_projects .projects-whisky-img:hover ~ .plus::after {
  background: #19bd9a;
}

.about .featured_projects .featured_projects-vintage {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: vintage;
}

.about .featured_projects .featured_projects-brand {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: brand;
}

.about .featured_projects .featured_projects-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.about .featured_projects .featured_projects-block:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.about .featured_projects .featured_projects-block:hover .featured_projects-title {
  color: #f3f3f3;
}

.about .featured_projects .projects-vintage-img,
.about .featured_projects .projects-branding-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.about .featured_projects .featured_projects-title {
  width: 100%;
  text-align: center;
  color: #fff;
}

.about .featured_projects .project-img-active {
  opacity: 1;
}

.about .submit {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #19bd9a url("../img/someone-legs.png") center;
  background-size: cover;
}

@media (max-width: 1439px) {
  .about .submit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.about .submit .submit_title {
  color: #fff;
}

@media (max-width: 1439px) {
  .about .submit .submit_title {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 1439px) {
  .about .submit .submit_btn {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 424px) {
  .about .submit .submit_btn {
    width: 100%;
  }
}

.services {
  background-color: #f3f3f3;
}

.services .service_title {
  margin-bottom: 40px;
  text-align: center;
  color: #333b46;
}

.services .service_text {
  margin-bottom: 60px;
  text-align: center;
}

.services .design {
  padding-left: 180px;
  padding-right: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1365px) {
  .services .design {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 1023px) {
  .services .design {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .services .design {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.services .design .design_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
}

@media (max-width: 767px) {
  .services .design .design_content {
    margin-bottom: 40px;
    width: 100%;
  }
}

.services .design .design_content-icons {
  margin-right: 45px;
}

.services .design .design_content-icon {
  margin-bottom: 15px;
  width: 53px;
  height: 53px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #81868e;
  cursor: pointer;
}

.services .design .design_content-icon i {
  font-size: 30px;
  line-height: 53px;
}

.services .design .design_content-icon.design_icon-active {
  background-color: #19bd9a;
}

.services .design .design_content-icon:hover {
  -webkit-animation: rotate-center 0.8s ease-in-out both;
  animation: rotate-center 0.8s ease-in-out both;
}

.services .design .design_content-info {
  display: none;
}

.services .design .design_active-content {
  display: block;
}

.services .design .design_content-title {
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #333b46;
}

.services .design .design_content-text:first-of-type {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.8px;
}

.services .design .design_content-text span {
  color: #19bd9a;
  font-weight: bold;
}

.services .design .design_graphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 45%;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .services .design .design_graphs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .services .design .design_graphs {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 424px) {
  .services .design .design_graphs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.services .design .graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .services .design .graph {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 424px) {
  .services .design .graph {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.services .design .graph-circle {
  margin-bottom: 25px;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #047378;
}

.services .design .graph-progress {
  position: absolute;
  width: 100%;
  height: 100%;
}

.services .design .graph-progress.graph-progress-80 .graph-rightSide {
  -webkit-transform: rotate(-288deg);
  transform: rotate(-288deg);
}

.services .design .graph-progress.graph-progress-80 ~ .graph-progressText {
  content: "{$value}";
}

.services .design .graph-progress.graph-progress-80 .graph-leftSide {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.services .design .graph-progress.graph-progress-75 .graph-rightSide {
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);
}

.services .design .graph-progress.graph-progress-75 ~ .graph-progressText {
  content: "{$value}";
}

.services .design .graph-progress.graph-progress-75 .graph-leftSide {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.services .design .graph-progress.graph-progress-60 .graph-rightSide {
  -webkit-transform: rotate(-216deg);
  transform: rotate(-216deg);
}

.services .design .graph-progress.graph-progress-60 ~ .graph-progressText {
  content: "{$value}";
}

.services .design .graph-progress.graph-progress-60 .graph-leftSide {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.services .design .graph-half {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #19bd9a;
  clip: rect(0, 120px, 120px, 60px);
}

.services .design .graph-progressText {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  line-height: 110px;
  font-size: 25px;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: capitalize;
  background-color: #f3f3f3;
}

.services .design .graph-progressText span {
  font-size: 14px;
}

.services .design .graph-text {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  text-align: center;
}

.impressed_indent {
  background-color: #f3f3f3;
  height: 40px;
}

@media (max-width: 1023px) {
  .impressed_indent {
    display: none;
  }
}

.impressed {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .impressed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.impressed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333b46 url("../img/impressed_bgrd.png") left no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@media (max-width: 1023px) {
  .impressed::before {
    background-position: center no-repeat;
  }
}

.impressed .impressed_content {
  position: relative;
  width: 50%;
}

@media (max-width: 1023px) {
  .impressed .impressed_content {
    margin-bottom: 40px;
    width: 100%;
  }
}

.impressed .impressed_title {
  margin-bottom: 60px;
  color: #f3f3f3;
}

.impressed .impressed_text:not(:last-of-type) {
  font-size: 16px;
  margin-bottom: 40px;
}

.impressed .impressed_text:last-of-type {
  text-transform: uppercase;
}

.impressed .impressed_text span {
  color: #19bd9a;
}

.impressed .impressed_image {
  position: relative;
  margin-top: -120px;
  max-width: 100%;
}

@media (max-width: 1023px) {
  .impressed .impressed_image {
    margin: 0 auto;
  }
}

.impressed .impressed_image .impressed_image-img {
  width: 100%;
}

.impressed .impressed_image .impressed_image-text {
  position: absolute;
  top: 110px;
  width: 100%;
  font-family: BigJohn;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.impressed .impressed_image .impressed_image-text span {
  color: #19bd9a;
}

.portfolio {
  background: #f3f3f3;
}

.portfolio .portfolio_title {
  margin-bottom: 40px;
  text-align: center;
  color: #333b46;
}

.portfolio .portfolio_info {
  margin-bottom: 80px;
  text-align: center;
}

.portfolio .portfolio_menu {
  margin-bottom: 60px;
}

.portfolio .portfolio_menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

@media (max-width: 767px) {
  .portfolio .portfolio_menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: 284px;
  }
}

@media (max-width: 767px) {
  .portfolio .portfolio_menu-list.s-menu-height {
    height: 40px;
  }
}

.portfolio .portfolio_menu-list li {
  position: relative;
  display: block;
  padding-bottom: 10px;
  margin-right: 20px;
  font-size: 16px;
  color: #333b46;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}

@media (max-width: 767px) {
  .portfolio .portfolio_menu-list li {
    margin: 0 auto;
    padding: 0;
    width: 60%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .portfolio .portfolio_menu-list li.s-list-height {
    height: 0;
  }
}

.portfolio .portfolio_menu-list li.menu-list-active::before {
  position: absolute;
  content: "";
  top: 0;
  width: 60%;
  left: 20%;
  right: 20%;
  height: 100%;
  border-bottom: 2px #19bd9a solid;
}

@media (max-width: 767px) {
  .portfolio .portfolio_menu-list li.menu-list-active {
    overflow: visible;
    height: 40px;
  }
}

.portfolio .portfolio_menu-list li:hover {
  color: #047378;
}

.portfolio .portfolio_menu-list li:active {
  color: #81868e;
}

.portfolio .portfolio_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 1060px;
  margin-bottom: 30px;
}

@media (max-width: 1365px) {
  .portfolio .portfolio_content {
    height: 1600px;
  }
  .portfolio .portfolio_content::before, .portfolio .portfolio_content::after {
    content: "";
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 1023px) {
  .portfolio .portfolio_content {
    height: 2100px;
  }
  .portfolio .portfolio_content::before {
    content: "";
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .portfolio .portfolio_content::after {
    content: "";
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .portfolio .portfolio_content {
    height: auto;
  }
  .portfolio .portfolio_content::before, .portfolio .portfolio_content::after {
    content: "";
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.portfolio .portfolio_item {
  position: relative;
  background-size: cover;
  width: 270px;
  overflow: hidden;
  margin-bottom: 10px;
}

.portfolio .portfolio_item:nth-of-type(4n + 1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.portfolio .portfolio_item:nth-of-type(4n + 2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.portfolio .portfolio_item:nth-of-type(4n + 3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.portfolio .portfolio_item:nth-of-type(4n) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (max-width: 1365px) {
  .portfolio .portfolio_item {
    width: 270px;
  }
  .portfolio .portfolio_item:nth-of-type(3n + 1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .portfolio .portfolio_item:nth-of-type(3n + 2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .portfolio .portfolio_item:nth-of-type(3n) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 1023px) {
  .portfolio .portfolio_item {
    width: 270px;
  }
  .portfolio .portfolio_item:nth-of-type(2n + 1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .portfolio .portfolio_item:nth-of-type(2n) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.portfolio .portfolio_item.hiddenItem {
  display: none;
}

.portfolio .portfolio_item-img {
  height: 100%;
}

.portfolio .portfolio_item-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0;
}

.portfolio .portfolio_item-hover:hover {
  opacity: 1;
}

.portfolio .portfolio_item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolio_item-title {
  margin-bottom: 20px;
  color: #19bd9a;
}

.portfolio .portfolio_item-line {
  margin-bottom: 30px;
  width: 23px;
  color: #19bd9a;
}

.portfolio .portfolio_item-info {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.6px;
  color: #f3f3f3;
}

.portfolio .portfolio_item-icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
}

.portfolio .portfolio_item-icon {
  width: 28px;
  height: 28px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}

.portfolio .portfolio_item-icon:not(:last-of-type) {
  margin-right: 7px;
}

.portfolio .portfolio_item-icon:hover {
  background: #333b46;
}

.portfolio .portfolio_item-icon:active {
  background: #047378;
}

.portfolio .portfolio_item_break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 10px;
  margin: 0;
}

.portfolio .portfolio_item_break:nth-of-type(4n + 1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.portfolio .portfolio_item_break:nth-of-type(4n + 2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.portfolio .portfolio_item_break:nth-of-type(4n + 3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 1365px) {
  .portfolio .portfolio_item_break {
    display: none;
  }
}

.portfolio .startProject {
  position: relative;
  padding: 60px 20px;
  text-align: center;
  background: url(../img/startProj_bgrd.png) 0 30%/cover no-repeat #19bd9a;
  background-blend-mode: soft-light;
}

.portfolio .startProject::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.portfolio .startProject_title {
  position: relative;
  color: #fff;
  text-transform: none;
  margin-bottom: 40px;
}

.portfolio .startProject_btn {
  position: relative;
}

.team {
  padding-left: 180px;
  padding-right: 180px;
}

@media (max-width: 1365px) {
  .team {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1023px) {
  .team {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 424px) {
  .team {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.team .team_title {
  text-align: center;
  margin-bottom: 40px;
  color: #333b46;
}

.team .team_info {
  text-align: center;
  margin-bottom: 60px;
}

.team .teammate {
  display: none;
  margin-bottom: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .team .teammate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .team .teammate_img {
    margin-bottom: 40px;
  }
}

.team .team_active-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .teammate_content {
  max-width: 40%;
}

@media (max-width: 767px) {
  .team .teammate_content {
    max-width: 100%;
  }
}

.team .teammate_personal {
  margin-bottom: 40px;
  padding-right: 40px;
  border-right: 4px solid #19bd9a;
  text-align: right;
}

@media (max-width: 1023px) {
  .team .teammate_personal {
    margin-bottom: 20px;
  }
}

.team .teammate_personal-name {
  margin-bottom: 15px;
  text-transform: capitalize;
  font-weight: normal;
  color: #333b46;
}

.team .teammate_personal-duty {
  font-weight: 300;
  text-transform: uppercase;
  font-style: italic;
}

.team .teammate_info {
  margin-bottom: 40px;
  padding-right: 44px;
  text-align: right;
}

@media (max-width: 1023px) {
  .team .teammate_info {
    margin-bottom: 20px;
  }
}

.team .teammate_skill {
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 44px;
}

@media (max-width: 1023px) {
  .team .teammate_skill {
    margin-bottom: 20px;
  }
}

.team .teammate_skill-info {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .teammate_skill-info p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.team .teammate_skill-progressbar {
  height: 4px;
  width: 100%;
  background-color: #f3f3f3;
}

.team .teammate_skill-progress {
  height: 4px;
  background-color: #19bd9a;
}

.team .teammate_skill-progress.noman-branding {
  width: 80%;
}

.team .teammate_skill-progress.noman-web {
  width: 65%;
}

.team .teammate_skill-progress.noman-ui {
  width: 75%;
}

.team .teammate_skill-progress.brown-branding {
  width: 60%;
}

.team .teammate_skill-progress.brown-web {
  width: 85%;
}

.team .teammate_skill-progress.brown-ui {
  width: 50%;
}

.team .teammate_skill-progress.jackson-branding {
  width: 45%;
}

.team .teammate_skill-progress.jackson-web {
  width: 60%;
}

.team .teammate_skill-progress.jackson-ui {
  width: 90%;
}

.team .team_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .team_icon-active {
  background-color: #19bd9a;
}

.goToContact {
  position: relative;
  padding: 60px;
  text-align: center;
}

.goToContact::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/gotocontact_bgrd.png) 0 50%/cover no-repeat rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.goToContact .goToContact_title {
  position: relative;
  margin-bottom: 40px;
  font-weight: normal;
  text-transform: capitalize;
  color: #fff;
}

.goToContact .goToContact_btn {
  position: relative;
}

.goToContact .goToContact_btn:hover {
  background-color: #fff;
  color: #333b46;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.goToContact .goToContact_btn:active {
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.testimonial {
  background: #f3f3f3;
}

.testimonial .testimonial_title {
  margin-bottom: 40px;
  text-align: center;
}

.testimonial .testimonial_info {
  margin-bottom: 60px;
  text-align: center;
}

.testimonial .testimonial_content {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;
}

.testimonial .testimonial_item {
  display: none;
  margin-bottom: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .testimonial .testimonial_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonial .testimonial_active-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial .testimonial_item-img {
  display: block;
  margin-right: 60px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .testimonial .testimonial_item-img {
    margin: 0 auto 40px;
  }
}

.testimonial .testimoinal_item-info {
  margin-bottom: 40px;
  font-size: 16px;
}

.testimonial .testimonial_item-name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  color: #19bd9a;
}

.testimonial .testimonial_item-duty {
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.56px;
  color: #333b46;
  font-weight: 600;
}

.testimonial .testimonial_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial .testimonial_icon-active {
  background: #19bd9a;
}

.news {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/news_bgrd.png) 0 50%/cover no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0, 0, 0, 0.85)));
  background: url(../img/news_bgrd.png) 0 50%/cover no-repeat, linear-gradient(180deg, #000, rgba(0, 0, 0, 0.85));
  background-blend-mode: multiply;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.news .news_content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 767px) {
  .news .news_content {
    margin-bottom: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

.news .news_title {
  margin-bottom: 40px;
  color: #fff;
}

.news .news_info {
  margin-bottom: 100px;
  color: #fff;
}

.news .news_item {
  display: none;
  padding-left: 60px;
  max-width: 60%;
}

@media (max-width: 1023px) {
  .news .news_item {
    max-width: 90%;
  }
}

@media (max-width: 767px) {
  .news .news_item {
    padding-left: 20px;
    max-width: 100%;
  }
}

.news .news_active-content {
  display: block;
}

.news .news_item-title {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  font-weight: normal;
  color: #fff;
}

.news .news_item-author {
  margin-bottom: 20px;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1.4px;
  font-weight: 300;
  text-transform: uppercase;
  font-style: italic;
}

.news .news_item-author span {
  color: #19bd9a;
}

.news .news_item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  color: #333b46;
  font-weight: 300;
}

@media (max-width: 424px) {
  .news .news_item-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news .news_item-text {
  margin-bottom: 40px;
  color: #f3f3f3;
}

.news .news_item-readmore {
  font-size: 16px;
  text-transform: capitalize;
  color: #f3f3f3;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.news .news_item-readmore:hover {
  color: #19bd9a;
}

.news .news_item-readmore:active {
  color: #047378;
}

.news .news_btns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .news .news_btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.news .news_icon {
  border-color: #81868e;
}

.news .news_icon:not(:last-of-type) {
  margin-right: 0;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .news .news_icon:not(:last-of-type) {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.news .news_icon:hover {
  border: 1px solid #f3f3f3;
}

.news .news_icon:active {
  border: 1px solid #fff;
}

.news .news_icon-active {
  background: #f3f3f3;
}

.price {
  background: #f3f3f3;
}

.price .price_title {
  margin-bottom: 40px;
  text-align: center;
}

.price .price_info {
  margin-bottom: 60px;
  text-align: center;
}

.price .price_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1023px) {
  .price .price_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.price .price_offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 230px;
  min-height: 300px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .price .price_offer {
    width: 60%;
  }
}

.price .price_offer:nth-of-type(2n) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.price .price_offer:nth-of-type(2n) .price_offer-header {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}

.price .price_offer:not(:last-of-type) {
  margin-right: 60px;
}

@media (max-width: 1023px) {
  .price .price_offer:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.price .price_offer:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.price .price_offer:active {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.price .price_offer-header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #19bd9a;
}

.price .price_offer-main {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #fff;
}

.price .price_offer-main p {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
}

.price .price_offer-main span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 42.5px;
  font-weight: 900;
  color: #19bd9a;
}

.price .price_offer-services {
  list-style-type: none;
  font-size: 14px;
  text-align: left;
  line-height: 2.14;
  letter-spacing: 0.7px;
  color: #81868e;
}

.subscribe {
  position: relative;
}

.subscribe::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/subscribe_bgrd.png) 0 75%/cover no-repeat rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.subscribe .subscribe_title {
  position: relative;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

.subscribe .subscribe_info {
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}

.subscribe .subscribe_form {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  letter-spacing: 0.14px;
  width: 60%;
}

@media (max-width: 1023px) {
  .subscribe .subscribe_form {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .subscribe .subscribe_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe .subscribe_mail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10px;
  padding: 12px 25px;
  color: #fff;
  border: solid 1px #81868e;
  background: transparent;
  outline: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 767px) {
  .subscribe .subscribe_mail {
    margin-right: 0;
    margin-bottom: 40px;
    width: 100%;
  }
}

.subscribe .subscribe_mail::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #f3f3f3;
}

.subscribe .subscribe_mail:-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #f3f3f3;
}

.subscribe .subscribe_mail::-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #f3f3f3;
}

.subscribe .subscribe_mail::placeholder {
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #f3f3f3;
}

.subscribe .subscribe_mail:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.subscribe .subscribe_mail:focus {
  border: solid 1px #f3f3f3;
}

.subscribe .error-input {
  border: solid 1px #f00;
  color: #f00;
}

.subscribe .subsribe_submit {
  padding: 12px 50px;
  text-transform: uppercase;
  color: #fff;
  background: #19bd9a;
  border: solid 1px #19bd9a;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.subscribe .subsribe_submit:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.subscribe .subsribe_submit:active {
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.contact .address {
  background: #f3f3f3;
}

.contact .address .address_title {
  margin-bottom: 40px;
  text-align: center;
}

.contact .address .address_info {
  margin-bottom: 60px;
  text-align: center;
}

.contact .address .address_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1023px) {
  .contact .address .address_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact .address .address_item {
  text-transform: uppercase;
  width: 287px;
}

.contact .address .address_item:not(:last-of-type) {
  margin-right: 40px;
}

@media (max-width: 1023px) {
  .contact .address .address_item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.contact .address .address_item-icon {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact .address .address_item-email {
  background: url(../img/contact_notes.png);
}

.contact .address .address_item-address {
  background: url(../img/contact_letter.png);
}

.contact .address .address_item-phone {
  background: url(../img/contact_laptop.png);
}

.contact .address .address_item-info {
  padding: 30px 10px;
  text-align: center;
  background: #fff;
}

.contact .address .address_item-info h3 {
  font-size: 16px;
  letter-spacing: 0.64px;
  text-align: center;
  color: #333b46;
}

.contact .message {
  padding: 80px 215px 130px;
}

@media (max-width: 1365px) {
  .contact .message {
    padding: 80px 150px 130px;
  }
}

@media (max-width: 1023px) {
  .contact .message {
    padding: 80px 50px 130px;
  }
}

@media (max-width: 767px) {
  .contact .message {
    padding: 80px 20px 130px;
  }
}

.contact .message .message_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .contact .message .message_inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .message .message_inputs input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px 20px;
  max-width: 30%;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #81868e;
  outline: none;
  border: solid 1px #81868e;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 767px) {
  .contact .message .message_inputs input {
    max-width: 100%;
  }
  .contact .message .message_inputs input:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.contact .message .message_inputs input:hover {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.contact .message .message_inputs input:focus {
  border: solid 1px #333b46;
}

.contact .message textarea {
  margin-bottom: 40px;
  padding: 15px 20px;
  height: 190px;
  width: 100%;
  outline: none;
  border: solid 1px #81868e;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contact .message textarea:focus {
  border: solid 1px #333b46;
}

.contact .message .message_submit {
  padding: 20px 50px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #19bd9a;
  color: #fff;
  outline: none;
  border: 1px solid #19bd9a;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.contact .message .message_submit:hover {
  background-color: #fff;
  color: #19bd9a;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contact .message .message_submit:active {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */