@import '../../style/variables.scss';

.oneCity {
  width: 50%;
  margin: 0 auto 20px;

  @media (max-width: 767px) {
    width: 100%; 
  }
}
.loading {
  padding-top: 50px;
  text-align: center;
  color: $main-color;
  font-size: $title-size;
}