.navbar {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  background-color: #edf1f5;
  border-bottom: 1px solid #ccc;
}

.navbarItem {
  a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

    &.active {
      font-weight: bold;
    }

    &:hover {
      color: white;
    }
  }
}
