@import '../../style/variables.scss';

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbarItem {
  border-radius: $indentSmall;
  overflow: hidden;

  &:not(:last-of-type, :first-of-type) {
    margin: 0 $indent;
  }
  &:first-of-type {
    margin-right: $indent;
  }

  &:last-of-type {
    margin-left: $indent;
  }

  a {
    display: block;
    padding: 10px;
    color: black;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    transition-duration: 0.5s;

    &.active {
      color: $colorBlue;
    }

    &:hover {
      background: $colorLGrey;
    }

    &:active {
      background: $colorGrey;
    }


  }
}
