.Modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: rgba(0, 0, 0, 0.85);
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}