@import "../../style/Extentions.scss";
@import "../../style/variables.scss";

.news {
  padding: $indent;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #edf1f5;
}

.posts {
  border-radius: $indentSmall;
  overflow: hidden;
}

.createPost {
  @extend %sendForm;
}

.sendBtn {
  @extend %button;

  &:disabled {
    cursor: auto;
  }
}