.skills-section {
  padding: 0 60px;
  border-right: 5px dotted $color-grey;

  @media (max-width: 2559px) {
    padding: 0;
    border-right: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'personal personal'
      'technical languages';
    grid-gap: 50px;
  }

  @media (max-width: 1439px) {
    grid-row-gap: 0;
  }

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'personal' 'technical' 'languages';
  }
}

@import './personal-skills/personal-skills.scss';
@import './technical-skills/technical-skills.scss';
@import './languages/languages.scss';