//* indents *//

$indent: 10px;
$indentSmall: 5px;
$indentBig: 20px;

//* colors *//

$colorLight: #fff;
$colorGrey: #ccc;
$colorDarkGrey: #4F5467;
$colorLGrey: #edf1f5;
$colorRed: #f00;
$colorDarkRed: #700;
$colorGreen: #080;
$colorBlack: #000;

$colorBlock: $colorLight;




