.banner {
  grid-area: banner;
  height: 150px;
  background-image: url('https://socialyte.codeplus.it/img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}