@import '../../style/variables.scss';

a.cityBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;

  &:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  }
  &:active {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.cityBlock {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $main-color;
  background-color: rgba(255, 255, 255, 0.6);

  .cityName {
    @extend %block-title;
    margin-bottom: 10px;
  }

  p {
    font-size: $font-size;
    color: $main-color;
    margin-bottom: 5px;

    span {
      margin-left: 5px;
      font-weight: 600;
    }
  }

  .cityWeatherImg {
    display: block;
    cursor: pointer;
    
    &:hover {
      -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
              animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
  }
}