@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Schoolbell");
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.header, .whoWeAre, .services, .news, .contacts, .footer {
  padding-right: 215px;
  padding-left: 215px;
}

@media (max-width: 1599px) {
  .header, .whoWeAre, .services, .news, .contacts, .footer {
    padding-right: 135px;
    padding-left: 135px;
  }
}

@media (max-width: 1339px) {
  .header, .whoWeAre, .services, .news, .contacts, .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

.clickBtn {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 15px;
  background-color: #00aeed;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.clickBtn:hover {
  color: #082938;
}

.clickBtn:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.header {
  padding-top: 25px;
  background: url(../img/world-map.png) no-repeat #082938;
  background-blend-mode: color-burn;
}

@media (max-width: 767px) {
  .header {
    padding-bottom: 25px;
  }
}

.header .logoNavWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 75px;
}

@media (max-width: 767px) {
  .header .logoNavWrap {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.header .logoNavWrap .logo {
  display: block;
  text-decoration: none;
  font-size: 34.5px;
  font-weight: 900;
  letter-spacing: 0.9px;
  text-align: center;
  cursor: pointer;
}

.header .logoNavWrap .logo .logo1 {
  color: #fff;
}

.header .logoNavWrap .logo .logo2 {
  color: #47408d;
}

@media (max-width: 1023px) {
  .header .logoNavWrap .logo {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .header .logoNavWrap .mainMenu {
    max-width: 50%;
    text-align: right;
  }
  .header .logoNavWrap .mainMenu:hover > .menu {
    max-height: 300px;
  }
}

.header .logoNavWrap .pulldownMenu {
  display: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.9px;
  text-align: right;
  color: #fff;
}

@media (max-width: 767px) {
  .header .logoNavWrap .pulldownMenu {
    display: block;
    cursor: pointer;
  }
}

.header .logoNavWrap .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header .logoNavWrap .menu {
    max-height: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: max-height 1s linear;
    transition: max-height 1s linear;
  }
}

.header .logoNavWrap .menu li {
  list-style: none;
}

.header .logoNavWrap .menu li:not(:last-of-type) {
  margin-right: 15px;
}

@media (max-width: 767px) {
  .header .logoNavWrap .menu li:not(:last-of-type) {
    padding: 0 0 10px;
    margin-right: 0;
  }
  .header .logoNavWrap .menu li:first-of-type {
    padding: 10px 0;
  }
}

.header .logoNavWrap .menu li a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
}

.header .logoNavWrap .menu li a:hover {
  color: #00aeed;
}

.header .logoNavWrap .menu li a:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.header .headerDescWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

@media (max-width: 1023px) {
  .header .headerDescWrap {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .header .headerDescWrap {
    display: block;
  }
}

.header .headerDescWrap .headerTitle {
  margin-top: -75px;
  max-width: 33.33333%;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 1.8px;
  text-align: center;
}

@media (max-width: 1439px) {
  .header .headerDescWrap .headerTitle {
    font-size: 64px;
  }
}

@media (max-width: 1023px) {
  .header .headerDescWrap .headerTitle {
    margin-top: 0;
    margin-bottom: 25px;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .header .headerDescWrap .headerTitle {
    max-width: 100%;
    font-size: 42px;
  }
}

.header .headerDescWrap .headerDescription {
  margin-top: -75px;
  max-width: 33.33333%;
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.4px;
  text-align: left;
}

.header .headerDescWrap .headerDescription a {
  display: block;
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 1023px) {
  .header .headerDescWrap .headerDescription {
    margin-top: 0;
    max-width: 50%;
    text-align: justify;
  }
}

@media (max-width: 767px) {
  .header .headerDescWrap .headerDescription {
    max-width: 100%;
  }
}

.header .headerDescWrap img {
  margin-bottom: -70px;
  z-index: 10;
}

@media (max-width: 1023px) {
  .header .headerDescWrap img {
    display: none;
  }
}

.whoWeAre {
  margin-bottom: 75px;
  margin-top: 80px;
  background: #fff;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1023px) {
  .whoWeAre {
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  .whoWeAre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.whoWeAre .whoWeAreContent {
  margin-top: 40px;
  max-width: 50%;
}

.whoWeAre .whoWeAreContent h2 {
  margin-bottom: 45px;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.9px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
}

@media (max-width: 767px) {
  .whoWeAre .whoWeAreContent h2 {
    text-align: center;
  }
}

.whoWeAre .whoWeAreContent p {
  margin-bottom: 42px;
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.4px;
  text-align: left;
  color: #707070;
}

@media (max-width: 767px) {
  .whoWeAre .whoWeAreContent p {
    text-align: justify;
  }
}

@media (max-width: 767px) {
  .whoWeAre .whoWeAreContent a {
    display: block;
    margin: 20px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (max-width: 1023px) {
  .whoWeAre .whoWeAreContent {
    max-width: 45%;
  }
}

@media (max-width: 767px) {
  .whoWeAre .whoWeAreContent {
    max-width: 100%;
  }
}

.whoWeAre .laptop {
  margin-top: 80px;
  max-width: 50%;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.whoWeAre .laptop img {
  position: relative;
  width: 100%;
}

.whoWeAre .laptop .backRectangle {
  background-color: #0bb3ce;
  width: 30%;
  height: 43%;
  position: absolute;
  top: -12%;
  left: 71%;
}

@media (max-width: 1023px) {
  .whoWeAre .laptop {
    max-width: 45%;
  }
}

@media (max-width: 767px) {
  .whoWeAre .laptop {
    max-width: 100%;
  }
}

.developers {
  padding: 70px 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background: url(../img/developersBackground.png) no-repeat;
  background-size: cover;
}

@media (max-width: 1599px) {
  .developers {
    padding: 70px 140px 0;
  }
}

@media (max-width: 1439px) {
  .developers {
    padding: 70px 30px 0;
  }
}

@media (max-width: 1023px) {
  .developers {
    padding: 30px 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.developers .devImg {
  display: block;
  width: 100%;
}

@media (max-width: 1023px) {
  .developers .devImg {
    margin-bottom: 20px;
  }
}

.developers .devInfo {
  margin-left: -7%;
}

@media (max-width: 1023px) {
  .developers .devInfo {
    margin-left: 0;
  }
}

.developers .devInfo .devDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
}

.developers .devInfo .devDescription img {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  width: 13%;
}

@media (max-width: 767px) {
  .developers .devInfo .devDescription img {
    display: none;
  }
}

.developers .devInfo .devDescription p {
  padding: 0 33px;
}

@media (max-width: 1023px) {
  .developers .devInfo .devDescription p {
    padding: 0 15px;
    text-align: justify;
  }
}

@media (max-width: 767px) {
  .developers .devInfo .devDescription p {
    padding: 0;
  }
}

.developers .devInfo .devName {
  margin-top: 55px;
  font-size: 30px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
}

.developers .devInfo .devJob {
  margin-top: 13px;
  font-size: 15px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
}

.developers .devInfo .navDots {
  margin: 55px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.developers .devInfo .navDots .dot {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
}

.developers .devInfo .navDots .dot:not(:last-of-type) {
  margin-right: 28px;
}

.developers .devInfo .navDots .dot:hover {
  background-color: #082938;
}

.developers .devInfo .navDots .dot:active {
  background-color: #00528c;
}

.developers .devInfo .navDots .activeDot {
  background-color: #00aeed;
}

.services {
  padding-top: 85px;
  padding-bottom: 80px;
  background: url(../img/servicesBackgroud.png) no-repeat;
  background-size: cover;
  color: #fff;
}

.services h2 {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.9px;
  text-align: center;
  margin-bottom: 45px;
  text-transform: uppercase;
}

.services p {
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.4px;
  text-align: center;
}

@media (max-width: 767px) {
  .services p {
    text-align: justify;
  }
}

.services .serviceContent {
  padding: 50px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .services .serviceContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.services .serviceContent .serviceBlock {
  max-width: 45%;
}

@media (max-width: 767px) {
  .services .serviceContent .serviceBlock {
    max-width: 100%;
  }
  .services .serviceContent .serviceBlock:last-of-type {
    margin-top: 65px;
  }
}

.services .serviceContent .serviceBlock .serviceImgWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 35px;
  border-radius: 50%;
  height: 94px;
  width: 94px;
  border: 3px solid #fff;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.services .serviceContent .serviceBlock .serviceImgWrap:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.services .serviceContent .serviceBlock .serviceImgWrap img {
  margin: 0 auto;
}

.services .serviceContent .serviceBlock h3 {
  margin-bottom: 35px;
  line-height: 1.5;
  font-size: 17px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.whatWeDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1023px) {
  .whatWeDo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.whatWeDo .thinkDiff {
  padding: 11.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../img/thinkDiffBackgrd.png) no-repeat;
  background-size: cover;
}

@media (max-width: 1599px) {
  .whatWeDo .thinkDiff {
    padding: 10%;
  }
}

@media (max-width: 1339px) {
  .whatWeDo .thinkDiff {
    padding: 3%;
  }
}

@media (max-width: 424px) {
  .whatWeDo .thinkDiff {
    display: none;
  }
}

.whatWeDo .thinkDiff .thinkDiffContent {
  font-family: Schoolbell, cursive;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.whatWeDo .thinkDiff .thinkDiffContent .thinkDiffLine_1 {
  font-size: 122px;
  line-height: 1;
  letter-spacing: 9.2px;
}

.whatWeDo .thinkDiff .thinkDiffContent .thinkDiffLine_2 {
  font-size: 78px;
  line-height: 0.99;
  letter-spacing: 5.9px;
}

.whatWeDo .thinkDiff .thinkDiffContent .thinkDiffLine_3 {
  font-size: 41px;
  line-height: 1.07;
  letter-spacing: 3.1px;
}

.whatWeDo .thinkDiff .thinkDiffContent .thinkDiffLine_4 {
  font-size: 30px;
  letter-spacing: 2.3px;
}

.whatWeDo .whatWeDoContent {
  padding: 0 215px 0 85px;
  color: #000;
  text-align: left;
}

@media (max-width: 1599px) {
  .whatWeDo .whatWeDoContent {
    padding-right: 135px;
  }
}

@media (max-width: 1339px) {
  .whatWeDo .whatWeDoContent {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .whatWeDo .whatWeDoContent {
    text-align: justify;
  }
}

.whatWeDo h2 {
  margin: 58px 0 25px;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .whatWeDo h2 {
    text-align: center;
  }
}

.whatWeDo .whatWeDoBlock {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 424px) {
  .whatWeDo .whatWeDoBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.whatWeDo .whatWeDoBlock img {
  margin-right: 23px;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.whatWeDo .whatWeDoBlock img:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@media (max-width: 424px) {
  .whatWeDo .whatWeDoBlock img {
    margin: 0 auto 25px;
  }
}

.whatWeDo .whatWeDoBlock h3 {
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #151515;
}

.whatWeDo .whatWeDoBlock p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #707070;
}

.news {
  padding-top: 75px;
  padding-bottom: 40px;
}

.news h2 {
  margin-bottom: 25px;
  height: 27px;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.news .newsContent {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .news .newsContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.news .newsContent .newsBlock {
  max-width: 45%;
}

@media (max-width: 1023px) {
  .news .newsContent .newsBlock {
    max-width: 100%;
  }
  .news .newsContent .newsBlock:not(:last-of-type) {
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .news .newsContent .newsBlock {
    text-align: center;
  }
}

.news .newsContent .newsBlock img {
  width: 100%;
  margin-bottom: 50px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.news .newsContent .newsBlock img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.news .newsContent .newsBlock h2 {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #151515;
}

.news .newsContent .newsBlock p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #707070;
}

@media (max-width: 767px) {
  .news .newsContent .newsBlock p {
    text-align: justify;
  }
}

.news .newsContent .newsBlock a {
  margin: 33px 0 0 18px;
}

.social {
  padding: 110px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: url(../img/socialBackgrd.png) no-repeat;
  background-size: cover;
}

.social a {
  display: block;
  margin: 20px;
  width: 82px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
}

.social a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.social a:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contacts h2 {
  margin: 70px 0 48px;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.contacts .contactsContent {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contacts .contactsContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.contacts .contactsContent h2 {
  margin-bottom: 55px;
  font-size: 17px;
  font-weight: 900;
  line-height: 1.41;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #151515;
}

.contacts .contactsContent .findUs {
  min-width: 50%;
}

@media (max-width: 767px) {
  .contacts .contactsContent .findUs {
    margin-bottom: 40px;
  }
}

.contacts .contactsContent .findUs .contactsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .contactsContent .findUs .contactsBlock:not(:last-of-type) {
  margin-bottom: 55px;
}

.contacts .contactsContent .findUs .contactsBlock .contactIcon {
  margin-right: 50px;
  width: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contacts .contactsContent .findUs .contactsBlock .contactIcon img:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

.contacts .contactsContent .findUs .contactsBlock h3 {
  text-transform: none;
  margin-bottom: 10px;
  color: #141414;
}

.contacts .contactsContent .findUs .contactsBlock p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #585858;
}

.contacts .contactsContent .sayHello {
  min-width: 50%;
}

@media (max-width: 767px) {
  .contacts .contactsContent .sayHello h2 {
    text-align: center;
  }
}

.contacts .contactsContent .sayHello .formContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .contactsContent .sayHello .formContent .labels p {
  margin-right: 19px;
  font-size: 17px;
  line-height: 47px;
  letter-spacing: 0.4px;
  color: #585858;
}

@media (max-width: 767px) {
  .contacts .contactsContent .sayHello .formContent .labels {
    display: none;
  }
}

.contacts .contactsContent .sayHello .formContent form {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.contacts .contactsContent .sayHello .formContent form input,
.contacts .contactsContent .sayHello .formContent form textarea {
  padding: 0 10px;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 4px solid #cacaca;
  font-size: 17px;
  line-height: 43px;
}

.contacts .contactsContent .sayHello .formContent form input::-webkit-input-placeholder,
.contacts .contactsContent .sayHello .formContent form textarea::-webkit-input-placeholder {
  opacity: 0;
}

.contacts .contactsContent .sayHello .formContent form input:-ms-input-placeholder,
.contacts .contactsContent .sayHello .formContent form textarea:-ms-input-placeholder {
  opacity: 0;
}

.contacts .contactsContent .sayHello .formContent form input::-ms-input-placeholder,
.contacts .contactsContent .sayHello .formContent form textarea::-ms-input-placeholder {
  opacity: 0;
}

.contacts .contactsContent .sayHello .formContent form input::placeholder,
.contacts .contactsContent .sayHello .formContent form textarea::placeholder {
  opacity: 0;
}

.contacts .contactsContent .sayHello .formContent form input:focus,
.contacts .contactsContent .sayHello .formContent form textarea:focus {
  border-bottom: 4px solid #585858;
}

@media (max-width: 767px) {
  .contacts .contactsContent .sayHello .formContent form input::-webkit-input-placeholder,
  .contacts .contactsContent .sayHello .formContent form textarea::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Lato', sans-serif;
  }
  .contacts .contactsContent .sayHello .formContent form input:-ms-input-placeholder,
  .contacts .contactsContent .sayHello .formContent form textarea:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Lato', sans-serif;
  }
  .contacts .contactsContent .sayHello .formContent form input::-ms-input-placeholder,
  .contacts .contactsContent .sayHello .formContent form textarea::-ms-input-placeholder {
    opacity: 1;
    font-family: 'Lato', sans-serif;
  }
  .contacts .contactsContent .sayHello .formContent form input::placeholder,
  .contacts .contactsContent .sayHello .formContent form textarea::placeholder {
    opacity: 1;
    font-family: 'Lato', sans-serif;
  }
}

.contacts .contactsContent .sayHello .formContent form a {
  margin-top: 35px;
}

@media (max-width: 767px) {
  .contacts .contactsContent .sayHello .formContent form a {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 35px auto 0;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: #062736;
}

.footer p {
  font-size: 17px;
  line-height: 1.41;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
}

.footer p:not(:last-of-type) {
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */