// Colors
$color-main: #000;
$color-dark: #777;
$color-middle: #eee;
$color-light: #fff;
$color-like: #f00;

// Size
$size-text: 16px;
$size-title: 20px;

// Indents

%padding-side {
  padding-left: 70px;
  padding-right: 70px;

  @media (max-width: 767px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 424px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

%button {
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px $color-main;
  }

  &:active {
    box-shadow: 0 0 4px $color-main;
  }
}