@import '../../style/variables.scss';

.random {
  @extend %block-title;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  }

  &:active {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
    text-shadow: none;
  }
}