* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: sans-serif;
    color: #1a1a1a;
}

html,
body,
body>div {
    height: 100%;
}

h1,
h2,
h3,
p {
    margin: 5px 0;
}

h1,
h2,
h3 {
    color: #4d4d4d;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
p::first-letter {
    text-transform: capitalize;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

Link,
a {
    display: inline-block;
    color: #008500;
    text-decoration: none;
}

Link::first-letter,
a::first-letter {
    text-transform: capitalize;
}

Link:hover,
a:hover {
    color: #000;
}

Link:active,
a:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.header {
    padding: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background: #dbdbdb;
}

.content {
    padding: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

.footer {
    padding: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background: #c2c2c2;
}