@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

$color-green: #62b7ab;
$color-black: #000;
$color-dark-grey: #585551;
$color-grey: #7f7d7c;
$color-light-grey: #b1b1b4;

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 2480px;
  margin: 0 auto;
  font-family: 'Raleway', Arial, sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.padding-site {
  padding-left: 177px;
  padding-right: 177px;

  @media (max-width: 1440px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (max-width: 1023px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.text-main-title {
  font-size: 150px;
  font-weight: 100;
  line-height: 130px;

  @media (max-width: 1440px) {
    font-size: 100px;
    line-height: 85px;
  }

  @media (max-width: 767px) {
    font-size: 60px;
    line-height: 52px;
  }
}

.text-local-title {
  font-size: 54px;
  line-height: 46px;

  @media (max-width: 1440px) {
    font-size: 36px;
    line-height: 30px;
  }
}

.text-label {
  font-size: 34px;
  line-height: 46px;
  color: $color-dark-grey;

  @media (max-width: 1440px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.text_black {
  color: $color-black;
}

.text-label-first-line {
  font-size: 44px;
  color: $color-black;

  @media (max-width: 1440px) {
    font-size: 30px;
  }
}

.text-up {
  text-transform: uppercase;
}

@import './header/header.scss';
@import './timeline/timeline.scss';
@import './main-part/main-part.scss';