@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: "Bebas Neue W03 Regular";
  src: url("../../../Fonts/MTI-WebFonts-262495543/Fonts/1444651/69efc83f-ff1e-4b84-aaac-c35e238e33ca.eot&iefix");
  src: url("../../../Fonts/MTI-WebFonts-262495543/Fonts/1444651/69efc83f-ff1e-4b84-aaac-c35e238e33ca.eot?#iefix") format("eot"), url("../../../Fonts/MTI-WebFonts-262495543/Fonts/1444651/11e21f91-5c9d-4170-908d-d6afa916d2fc.woff2") format("woff2"), url("../../../Fonts/MTI-WebFonts-262495543/Fonts/1444651/b336f9f4-ee3c-4257-a4af-d5d2e3671b86.woff") format("woff"), url("../../../Fonts/MTI-WebFonts-262495543/Fonts/1444651/213f5fa9-0ccb-4f43-baf8-99d81c93b2ae.ttf") format("truetype");
}

.container .header, .container .title-block, .container .content, .footer {
  padding-left: 215px;
  padding-right: 215px;
}

@media (max-width: 1440px) {
  .container .header, .container .title-block, .container .content, .footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1024px) {
  .container .header, .container .title-block, .container .content, .footer {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 425px) {
  .container .header, .container .title-block, .container .content, .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.container {
  /* HEADER */
  /* TITLE */
  /* CONTENT */
  /* Page Counter */
  /* Contacts */
}

.container .header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
  background-color: #1b1a18;
}

@media (max-width: 1023px) {
  .container .header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .container .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1023px) {
  .container .header nav {
    font-size: 23.5px;
  }
  .container .header nav:hover > .main-menu {
    max-height: 500px;
  }
  .container .header nav:hover > .menuExpand {
    color: #c59966;
  }
}

@media (max-width: 767px) {
  .container .header nav {
    margin-top: 30px;
  }
}

.container .header nav .menuExpand {
  display: none;
}

@media (max-width: 1023px) {
  .container .header nav .menuExpand {
    display: block;
    padding: 0px 12px 13px;
    line-height: 1;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
}

.container .header nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

@media (max-width: 1023px) {
  .container .header nav .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: max-height 1s linear;
    transition: max-height 1s linear;
    max-height: 0;
    overflow: hidden;
  }
}

.container .header nav .main-menu li {
  padding: 10px 20px;
  text-align: center;
}

.container .header nav .main-menu li.active-nav {
  border: solid 1px #fff;
}

.container .header nav .main-menu li.active-nav a {
  color: #c59966;
}

.container .header nav .main-menu li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
}

.container .header nav .main-menu li a:hover {
  color: #c59966;
}

.container .header nav .main-menu li a:active {
  opacity: 0.7;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.container .title-block {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: solid 1px #ccc;
}

.container .title-block h1 {
  margin-bottom: 28px;
  font-family: 'Bebas Neue W03 Regular', sans-serif;
  font-size: 56px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #191918;
}

.container .title-block p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: #1a1918;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* MAIN CONTENT */
  /* Blog List*/
  /* SIDEBAR */
}

@media (max-width: 1250px) {
  .container .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .content .blog-list {
  /* BLOG TEMPLATE*/
}

.container .content .blog-list .blog {
  margin-top: 100px;
  max-width: 770px;
  /* Standart Blog */
  /* IMG Gallery Blog */
  /* Audio/Video Blogs */
  /* Audio Blog */
  /* Video Blog */
  /* Quote Blog */
  /* Blog block */
}

.container .content .blog-list .blog .blog-content {
  margin-bottom: 50px;
}

.container .content .blog-list .blog img {
  width: 100%;
  height: 100%;
}

.container .content .blog-list .blog .standart-blog-img {
  display: block;
}

.container .content .blog-list .blog .img-gallery {
  position: relative;
  overflow: hidden;
}

.container .content .blog-list .blog .img-gallery .gallery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .content .blog-list .blog .img-gallery .dots {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .img-gallery .dots {
    bottom: 10px;
    left: 10px;
  }
}

.container .content .blog-list .blog .img-gallery .dots .gallery-dot {
  height: 8px;
  width: 8px;
  border: solid 1px #ffffff;
  background-color: #1b1a17;
}

.container .content .blog-list .blog .img-gallery .dots .gallery-dot:not(:last-of-type) {
  margin-right: 10px;
}

.container .content .blog-list .blog .img-gallery .dots .active-dot {
  opacity: 0.9;
  border: none;
  background-color: #c59a6d;
}

.container .content .blog-list .blog .img-gallery .nav-arrows {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .img-gallery .nav-arrows {
    bottom: 10px;
    right: 10px;
  }
}

.container .content .blog-list .blog .img-gallery .nav-arrows .arrow {
  width: 56px;
  height: 56px;
  text-align: center;
  opacity: 0.9;
  border: solid 1px #ffffff;
  background-color: #1b1a17;
  cursor: pointer;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .img-gallery .nav-arrows .arrow {
    width: 30px;
    height: 30px;
  }
}

.container .content .blog-list .blog .img-gallery .nav-arrows .arrow i {
  line-height: 56px;
  font-size: 32px;
  color: #c59a6d;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .img-gallery .nav-arrows .arrow i {
    line-height: 30px;
    font-size: 14px;
  }
}

.container .content .blog-list .blog .img-gallery .nav-arrows .arrow:first-of-type {
  margin-right: 30px;
}

.container .content .blog-list .blog .img-gallery .nav-arrows .arrow:hover {
  border: solid 1px #1b1a17;
  background-color: #fff;
}

.container .content .blog-list .blog .img-gallery .nav-arrows .arrow:active {
  border: solid 1px #1b1a17;
  background-color: #ccc;
}

.container .content .blog-list .blog .audio-player .time, .container .content .blog-list .blog .video-player .time {
  margin: 0 15px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .audio-player .time, .container .content .blog-list .blog .video-player .time {
    margin: 0 5px;
  }
}

.container .content .blog-list .blog .audio-player .audio-time, .container .content .blog-list .blog .video-player .audio-time {
  color: #777;
}

.container .content .blog-list .blog .audio-player .video-time, .container .content .blog-list .blog .video-player .video-time {
  color: #000;
}

.container .content .blog-list .blog .audio-player .progress-bar, .container .content .blog-list .blog .video-player .progress-bar {
  padding: 3px;
  height: 12px;
  background-color: #191918;
  cursor: pointer;
}

.container .content .blog-list .blog .audio-player .progress-bar .current-progress, .container .content .blog-list .blog .video-player .progress-bar .current-progress {
  height: 100%;
  background-color: #c59a6d;
}

.container .content .blog-list .blog .audio-player .audio-progress, .container .content .blog-list .blog .audio-player .video-progress, .container .content .blog-list .blog .video-player .audio-progress, .container .content .blog-list .blog .video-player .video-progress {
  width: 100%;
}

.container .content .blog-list .blog .audio-player .audio-progress .audio-current-progress, .container .content .blog-list .blog .audio-player .audio-progress .video-current-progress, .container .content .blog-list .blog .audio-player .video-progress .audio-current-progress, .container .content .blog-list .blog .audio-player .video-progress .video-current-progress, .container .content .blog-list .blog .video-player .audio-progress .audio-current-progress, .container .content .blog-list .blog .video-player .audio-progress .video-current-progress, .container .content .blog-list .blog .video-player .video-progress .audio-current-progress, .container .content .blog-list .blog .video-player .video-progress .video-current-progress {
  width: 0%;
}

.container .content .blog-list .blog .audio-player .volume-level, .container .content .blog-list .blog .video-player .volume-level {
  width: 125px;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .audio-player .volume-level, .container .content .blog-list .blog .video-player .volume-level {
    padding: 0;
    width: 0;
  }
  .container .content .blog-list .blog .audio-player .volume-level:hover, .container .content .blog-list .blog .video-player .volume-level:hover {
    width: 125px;
    padding: 3px;
  }
}

.container .content .blog-list .blog .audio-player .volume, .container .content .blog-list .blog .video-player .volume {
  margin: 0 15px;
  min-width: 18px;
  text-align: center;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .audio-player .volume, .container .content .blog-list .blog .video-player .volume {
    margin: 0 5px;
  }
  .container .content .blog-list .blog .audio-player .volume:hover ~ .volume-level, .container .content .blog-list .blog .video-player .volume:hover ~ .volume-level {
    width: 125px;
    padding: 3px;
  }
}

.container .content .blog-list .blog .audio-player .volume i, .container .content .blog-list .blog .video-player .volume i {
  font-size: 16px;
  line-height: 1;
  color: #191918;
  cursor: pointer;
}

.container .content .blog-list .blog .audio-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.container .content .blog-list .blog .audio-player .audio-play {
  margin-right: 15px;
  text-align: center;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .audio-player .audio-play {
    margin-right: 5px;
  }
}

.container .content .blog-list .blog .audio-player .audio-play i {
  font-size: 16px;
  line-height: 1;
  color: #191918;
  cursor: pointer;
}

.container .content .blog-list .blog .video-player {
  position: relative;
}

.container .content .blog-list .blog .video-player .video-data {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .content .blog-list .blog .video-player .video-play {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 36px);
  padding: 20px 22px;
  width: 72px;
  height: 72px;
  opacity: 0.9;
  border: solid 1px #ffffff;
  background-color: #1b1a17;
  cursor: pointer;
}

.container .content .blog-list .blog .video-player .video-play:hover {
  border: solid 1px #1b1a17;
  background-color: #ffffff;
}

.container .content .blog-list .blog .video-player .video-play:active {
  border: solid 1px transparent;
  background-color: #ccc;
}

.container .content .blog-list .blog .video-player .video-play i {
  font-size: 32px;
  text-align: center;
  color: #c5996c;
}

.container .content .blog-list .blog .video-player .video-controls {
  position: absolute;
  padding: 15px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.container .content .blog-list .blog .video-player .hidden {
  display: none;
}

.container .content .blog-list .blog .quote-blog-wrapper {
  padding: 15px;
  background-color: #f6f6f6;
}

.container .content .blog-list .blog .quote-blog-wrapper .quote-body {
  padding: 30px;
  border: solid 1px #c79a6a;
}

.container .content .blog-list .blog .quote-blog-wrapper .quote-body .quote-text {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.4;
  text-align: left;
  color: #c5996c;
}

.container .content .blog-list .blog .quote-blog-wrapper .quote-body .quote-line {
  margin: 28px 0;
  max-width: 70px;
  height: 1px;
  background-color: #c69b6e;
}

.container .content .blog-list .blog .quote-blog-wrapper .quote-body .quote-author {
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  color: #191918;
}

.container .content .blog-list .blog .blog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .blog-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .content .blog-list .blog .blog-block .date {
  margin-right: 33px;
  padding: 10px 21px 15px;
  border: solid 1px #ccc;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .blog-block .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    margin-bottom: 33px;
  }
}

.container .content .blog-list .blog .blog-block .date .date-icon {
  display: block;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: #191918;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .blog-block .date .date-icon {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.container .content .blog-list .blog .blog-block .date .day {
  margin-bottom: 9px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #191918;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .blog-block .date .day {
    margin-bottom: 0;
    margin-right: 9px;
  }
}

.container .content .blog-list .blog .blog-block .date .month {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #c5996c;
}

.container .content .blog-list .blog .blog-block .blog-body {
  padding-right: 50px;
  text-align: left;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .blog-block .blog-body {
    padding-right: 0;
  }
}

.container .content .blog-list .blog .blog-block .blog-body h2 {
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
  text-transform: capitalize;
  color: #c5996c;
}

.container .content .blog-list .blog .blog-block .blog-body .blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.4;
  color: #777;
}

.container .content .blog-list .blog .blog-block .blog-body .blog-info div {
  margin-right: 10px;
  cursor: pointer;
}

.container .content .blog-list .blog .blog-block .blog-body .blog-info div:hover {
  color: #000;
}

.container .content .blog-list .blog .blog-block .blog-body .blog-info div:active {
  opacity: 0.7;
}

.container .content .blog-list .blog .blog-block .blog-body .blog-info div i {
  font-size: 12px;
}

.container .content .blog-list .blog .blog-block .blog-body .hr {
  margin-bottom: 30px;
  max-width: 70px;
  height: 1px;
  background-color: #c69b6e;
}

.container .content .blog-list .blog .blog-block .blog-body .blog-text {
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 1.4;
  color: #191918;
}

.container .content .blog-list .blog .blog-block .blog-body .read-more {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px 44px;
  background-color: #1a1918;
  border: solid 1px #1a1918;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media (max-width: 767px) {
  .container .content .blog-list .blog .blog-block .blog-body .read-more {
    margin: 0 auto;
  }
}

.container .content .blog-list .blog .blog-block .blog-body .read-more:hover {
  background-color: #fff;
  color: #1a1918;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.container .content .blog-list .blog .blog-block .blog-body .read-more:active {
  background-color: #fff;
  color: #1a1918;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.container .content .side-bar {
  margin-top: 100px;
  height: 100px;
  width: 270px;
}

@media (max-width: 1250px) {
  .container .content .side-bar {
    display: none;
  }
}

.container .content .side-bar .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: solid 1px #ccc;
  background-color: #f6f6f6;
}

.container .content .side-bar .search .search-text {
  width: 100%;
  padding: 17px;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  text-transform: capitalize;
  color: #777;
  outline: none;
  border: none;
  background: transparent;
}

.container .content .side-bar .search .search-btn {
  padding: 17px;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #777;
  background: transparent;
  outline: none;
  border: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.container .content .side-bar .search .search-btn:hover {
  color: #000;
}

.container .content .side-bar .search .search-btn:active {
  opacity: 0.7;
}

.container .content .side-bar .section-title {
  margin-top: 75px;
  margin-bottom: 25px;
  font-family: 'Bebas Neue W03 Regular', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  color: #191918;
}

.container .content .side-bar .hr {
  margin-bottom: 30px;
  width: 70px;
  height: 2px;
  background-color: #c69b6e;
}

.container .content .side-bar .categories .side-menu {
  padding: 0 30px;
  border: solid 1px #ccc;
}

.container .content .side-bar .categories .side-menu li {
  padding: 25px 0;
  list-style-type: none;
}

.container .content .side-bar .categories .side-menu li:not(:last-of-type) {
  border-bottom: solid 1px #ccc;
}

.container .content .side-bar .categories .side-menu li a {
  height: 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #c5996c;
}

.container .content .side-bar .categories .side-menu li a:hover {
  color: #855424;
}

.container .content .side-bar .categories .side-menu li a:active {
  opacity: 0.7;
}

.container .content .side-bar .popular-postlist .popular-post {
  padding: 30px;
  border: solid 1px #ccc;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.container .content .side-bar .popular-postlist .popular-post:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .content .side-bar .popular-postlist .popular-post:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.container .content .side-bar .popular-postlist .popular-post:not(:last-of-type) {
  margin-bottom: 15px;
}

.container .content .side-bar .popular-postlist .popular-post .post-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  text-transform: capitalize;
  color: #c5996c;
}

.container .content .side-bar .popular-postlist .popular-post .post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.4;
  text-align: left;
  color: #777777;
}

.container .content .side-bar .popular-postlist .popular-post .post-info div {
  margin-right: 10px;
}

.container .content .side-bar .popular-postlist .popular-post .post-info div i {
  font-size: 12px;
}

.container .content .side-bar .popular-postlist .popular-post .post-info div span {
  font-size: 14px;
  text-transform: capitalize;
}

.container .content .side-bar .images-list .flickr-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.container .content .side-bar .images-list .flickr-images .flickr-img {
  width: 70px;
  height: 70px;
  background-color: #ccc;
  color: #1a1918;
  line-height: 70px;
  font-size: 10px;
  text-align: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.container .content .side-bar .images-list .flickr-images .flickr-img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.container .content .side-bar .images-list .flickr-images .flickr-img:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.container .content .side-bar .text-widget .text-widget-block {
  padding: 30px;
  background-color: #f6f6f6;
}

.container .content .side-bar .text-widget .text-widget-block p {
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  color: #191918;
}

.container .content .side-bar .popular-tags .hr {
  margin-bottom: 20px;
}

.container .content .side-bar .popular-tags .tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 10px;
}

.container .content .side-bar .popular-tags .tag-list .pop-tag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 15px 7px;
  background-color: #1a1918;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.container .content .side-bar .popular-tags .tag-list .pop-tag:hover {
  background-color: #ccc;
  color: #000;
}

.container .content .side-bar .popular-tags .tag-list .pop-tag:active {
  background-color: #646464;
}

.container .content .side-bar .subscribe-form {
  padding: 30px;
  border: solid 1px #ccc;
}

.container .content .side-bar .subscribe-form .form-name {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  color: #191918;
}

.container .content .side-bar .subscribe-form .input-mail {
  margin-bottom: 25px;
  padding: 17px;
  width: 100%;
  border: solid 1px #ccc;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  color: #191918;
  cursor: text;
}

.container .content .side-bar .subscribe-form .input-mail:focus {
  border: solid 1px #777;
}

.container .content .side-bar .subscribe-form .input-mail::-webkit-input-placeholder {
  color: #777;
  text-transform: uppercase;
}

.container .content .side-bar .subscribe-form .input-mail:-ms-input-placeholder {
  color: #777;
  text-transform: uppercase;
}

.container .content .side-bar .subscribe-form .input-mail::-ms-input-placeholder {
  color: #777;
  text-transform: uppercase;
}

.container .content .side-bar .subscribe-form .input-mail::placeholder {
  color: #777;
  text-transform: uppercase;
}

.container .content .side-bar .subscribe-form .submit-btn {
  padding: 17px 30px;
  background-color: #c5996c;
  outline: none;
  border: solid 1px #c5996c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.container .content .side-bar .subscribe-form .submit-btn:hover {
  background-color: #fff;
  color: #c5996c;
}

.container .content .side-bar .subscribe-form .submit-btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.container .content .side-bar .subscribe-form .submit-btn .subscribe-icon {
  margin-right: 15px;
  font-size: 16px;
  line-height: 1.4;
}

.container .content .side-bar .calendar {
  padding: 30px;
  background-color: #f6f6f6;
}

.container .content .side-bar .calendar .month-year {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  color: #000;
}

.container .content .side-bar .calendar .calendar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.container .content .side-bar .calendar .calendar-nav .cal-nav-item {
  width: 30px;
  height: 30px;
  background-color: #000;
  cursor: pointer;
}

.container .content .side-bar .calendar .calendar-nav .cal-nav-item:hover {
  background-color: #777;
}

.container .content .side-bar .calendar .calendar-nav .cal-nav-item:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.container .content .side-bar .calendar .calendar-nav .cal-nav-item .calendar-icon {
  line-height: 30px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.container .content .side-bar .calendar .calendar-nav .cal-nav-item:first-of-type {
  margin-right: 5px;
}

.container .content .side-bar .calendar .week-days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30px)[7];
      grid-template-columns: repeat(7, 30px);
  -ms-grid-rows: 30px;
      grid-template-rows: 30px;
  margin-bottom: 25px;
}

.container .content .side-bar .calendar .week-days .day-name {
  font-size: 14px;
  font-stretch: normal;
  line-height: 30px;
  text-align: center;
  color: #a9a9a9;
}

.container .content .side-bar .calendar .cal-dates {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30px)[7];
      grid-template-columns: repeat(7, 30px);
  -ms-grid-rows: (30px)[6];
      grid-template-rows: repeat(6, 30px);
}

.container .content .side-bar .calendar .cal-dates .one-day {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #525252;
}

.container .content .side-bar .calendar .cal-dates .today {
  border: solid 2px #f00;
  line-height: 26px;
}

.container .content .side-bar .calendar .cal-dates .day-with-blog {
  font-weight: bold;
  color: #c6996a;
}

.container .page-counter {
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .page-counter .nav-pages {
  padding: 16px 23px;
  border: solid 1px #ccc;
  cursor: pointer;
}

.container .page-counter .nav-pages:hover {
  background-color: #ccc;
}

.container .page-counter .nav-pages:active {
  border: solid 1px #fff;
  background-color: #777;
}

.container .page-counter .nav-pages i {
  font-size: 32px;
  line-height: 1;
  text-align: center;
  color: #c59a6d;
}

.container .page-counter .page-number {
  padding: 23px 30px;
  border: solid 1px #ccc;
  border-right: none;
  border-left: none;
  background-color: #f6f6f6;
  font-size: 18px;
  font-style: italic;
  line-height: 1;
  text-align: center;
  color: #777;
}

.container .contacts {
  padding: 100px 230px;
  background: url("../img/contacts-bgrd.png") no-repeat #31302f;
  background-size: cover;
  background-blend-mode: multiply;
}

@media (max-width: 1439px) {
  .container .contacts {
    padding: 100px;
  }
}

@media (max-width: 1023px) {
  .container .contacts {
    padding: 50px;
  }
}

.container .contacts .contacts-title {
  font-family: 'Bebas Neue W03 Regular', sans-serif;
  font-size: 56px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.container .contacts .contacts-text {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

.container .contacts .contacts-info {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .container .contacts .contacts-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .contacts .contacts-info .contacts-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1023px) {
  .container .contacts .contacts-info .contacts-info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .container .contacts .contacts-info .contacts-info-block {
    margin-bottom: 50px;
  }
}

.container .contacts .contacts-info .contacts-info-block .contact-icon {
  margin-right: 35px;
  font-size: 48px;
  text-align: center;
  color: #fff;
}

@media (max-width: 1023px) {
  .container .contacts .contacts-info .contacts-info-block .contact-icon {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

.container .contacts .contacts-info .contacts-info-block .phone-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container .contacts .contacts-info .contacts-info-block .contacts-info-text {
  padding-top: 6px;
}

.container .contacts .contacts-info .contacts-info-block .contacts-info-text h2 {
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  color: #c5996c;
}

@media (max-width: 1023px) {
  .container .contacts .contacts-info .contacts-info-block .contacts-info-text h2 {
    text-align: center;
  }
}

.container .contacts .contacts-info .contacts-info-block .contacts-info-text p {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  color: #ffffff;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .copyright {
  font-size: 14px;
  line-height: 1.2;
  color: #191918;
}

@media (max-width: 767px) {
  .footer .copyright {
    margin-bottom: 35px;
  }
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .socials i {
  font-size: 16px;
  line-height: 1.2;
  color: #191918;
  cursor: pointer;
}

.footer .socials i:hover {
  color: #ccc;
}

.footer .socials i:active {
  color: #777;
}

.footer .socials i:not(:last-of-type) {
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */